<nav class="border-b border-zinc-800 py-5">
    <div class="flex items-end gap-4">
        <a class="hover:text-white text-zinc-300" href="/">    
            <h4 class="text-2xl font-bold">Blog</h4>
        </a>
        <a class="hover:text-white text-zinc-300" href="/about">
            <p>About</p>
        </a>
    </div>
</nav>
